$box-width:88px;
$box-height:80px;
$boxes:2;

.main-nav{
	position:fixed;
	top:25%;
	margin:0px;
	padding:0px;
	height:$box-height * $boxes;
	width:100%;
	vertical-align:top;
	font-size:0px;
	z-index:100;

	.nav-content{
		@include rgba-background($nav-content);
		display:inline-block;
		width:91%;
		height:405px;
		position:relative;
		.logo-text{
			margin:65px auto;
			padding:0 25px 0 25px;
			width:50%;
		}
		.nav-buttons{
			margin:0 auto;
			width:585px;
			display:block;
			> ul {
				list-display-type:none;
				margin:0;
				padding:0;
				li {
					display:inline;
					a {
						float:left;
						&.lookbook{ @include sprite(nav_lookbook_off);}
						&.lookbook:hover{ @include sprite(nav_lookbook_on);}
						&.collection{ @include sprite(nav_collection_off);}
						&.collection:hover{ @include sprite(nav_collection_on);}
						&.about{ @include sprite(nav_about_off);}
						&.about:hover{ @include sprite(nav_about_on);}
						&.buy{ @include sprite(nav_buy_off);}
						&.buy:hover{ @include sprite(nav_buy_on);}
						&.instagram{ @include sprite(nav_instagram_off);}
						&.instagram:hover{ @include sprite(nav_instagram_on);}
					}
				}
			}

			.social-buttons{
				font-size:0px;

				.social{
					margin:25px 0 0 -27px;
					padding: 0 13px 0 18px;
					display:inline-block;
					&.facebook{ @include sprite(social-icons-fb-off);}
					&.facebook:hover{ @include sprite(social-icons-fb-on);}
					&.twitter{ @include sprite(social-icons-twitter-off);}
					&.twitter:hover{ @include sprite(social-icons-twitter-on);}
				}
			}

			@media screen and (max-width: $bp-medium-nav) {
				> ul{
					width: 100%;
					position: absolute;
					left: 50%;
					margin-left: -110px;
					li{
						a{
							display:block;
							float:none;
							margin-top:5px;
							&.lookbook{ margin-left: 67px; }
							&.collection{ margin-left: 32px;}
							&.about{ margin-left: 63px;}
							&.buy{ margin-left: 72px;}
							&.instagram{ margin-left: 44px;}
						}
					}
				}
				.social-buttons{
					position: absolute;
					left: 50%;
					margin-left: -18px;
					bottom: 40px;
				}
			}
		}
	}

	.boxes{
		display:inline-block;
		vertical-align:top;
		margin:0px;
		padding:0px;
		.box{
			width:$box-width;
			height:$box-height;
			display:block;
		}
		#logo-icon{
			background:$nav-box;
			.icon{
				@include sprite(logo-icon);
				display:block;
				margin:15px 0 0 18px;
			}
		}
		#nav-arrow{
			.arrow{
				display:block;
				margin: 19px 0 0 23px;
			}
		}
	}
}

@media screen and (max-width: $bp-small-nav) {

	.main-nav{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		.nav-content{
			width:100%;
		}
		&.closed{
			.nav-content{ left:91%; }
		}

		.boxes{
			display:none;
		}
	}
}


.closed{
	@include animation(my-animation 1s);

	left:-91%;
	.boxes{
		#nav-arrow{
			background:black;
			.arrow{
				@include sprite(arrow-white-right);
			}
		}
	}
}

.open{

	@include single-transition(left, 0.7s ease-in-out);

	.nav-content{

	}
	.boxes{
		#nav-arrow{
			background:white;
			@include rotate(180deg);
			.arrow{
				@include sprite(arrow-black-right);
			}
		}
	}
}

@include keyframes(my-animation){
	0%{ left:0px;}
	100%{ left:-91%;}
}