@import "rgbapng";
@import "animation";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

// bootstrap
@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "bootstrap/reset";

// compass mixins
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/css3/background-clip";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

// site-specific
@import "variables";
@import "mixins";
@import "components";
@import "nav";

@import "sections/lookbook";
@import "sections/products";
@import "sections/product-detail";
@import "sections/instagram";
@import "sections/young-buffalo-wear-tweeds";
@import "sections/mask-transition";
@import "sections/story";
@import "sections/buy";

html, body{
	margin:0;
}

.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

a{
	text-decoration:none;
}

li{
    list-style-type:none;
}

.scrollblock{
    width:100%;
    position:relative;
    height:800px;
    >.section-container{
        width:100%;
    }
}


// section{
//     float:left;
//     clear:both;
// }
// section:after {
//    content: ".";
//    visibility: hidden;
//    display: block;
//    height: 0;
//    clear: both;
// }