<div class="product-detail">
    <span class="left-half"><span class="triangle"></span></span>
    <span class="right-half"><span class="triangle"></span></span>
    <div class="close-btn"></div>
    <div class="container">
        <div class="left-col">
            <h1 class="product-title">{{capitalize product.title}}</h1>
            <p class="product-description">{{product.desc}}</p>
            <a href="{{product.buyLink}}" target="_blank" class="buy-now white-circle"><span class="label">BUY NOW</span></a>
        </div>
        <div class="product-shot">
            <img src="{{product.imgLarge}}"
        </div>
    </div>
</div>