<div class="product-detail {{product.class}}">
    <span class="left-half" style="background-color:{{product.productColor}};">
        <span class="triangle" style="border-top-color:{{product.productColor}};"></span>
    </span>
    <span class="right-half"><span class="triangle"></span></span>
    <div class="close-btn"></div>
    <div class="container">
        <div class="left-col">
            <h1 class="product-title">{{capitalize product.title}}</h1>
            <p class="product-description">{{product.desc}}</p>
            <a href="{{product.buyLink}}" target="_blank" class="buy-now white-circle"><span class="label">BUY NOW</span></a>
        </div>
        <div class="product-shot">
            <img src="{{product.imgLargeFront}}"
        </div>
    </div>
</div>