<div class="backgrounds">
    {{#each backgrounds}}
        <div class="products-bg" style="background-image:url('/{{this}}');"></div>
    {{/each}}
</div>
<div class="products">

    {{#each this.productRows.rows}}
    <div class="product-row" id="product-row-{{@index}}">
        {{#each this.row}}
           <div id="{{this.id}}" class="circle-{{@index}} product-circle" style="">
                <div class="product-shot">
                    <img src="{{this.imgSmall}}"/>
                </div>
                <div class="product-name">
                    <h1 class="the">THE</h1>
                    <div class="product-name-container"><h1>{{capitalize this.title}}</h1></div>
                    <div class="see-details hide-text"></div>
                </div>
            </div>
        {{/each}}
    </div>
    {{/each}}
</div>