.buy{
    background: url('../img/src/buy/bg.jpg') 50% 0 repeat fixed;
    height:$section-height;
    padding:0px;
    margin:0px;
    position:relative;
    margin:0 auto;
    @include background-size(cover);


}