#mask-transition{
    margin-top:650px;
    background:url('../img/src/transition/surfer.jpg');
    .forest{
        width:100%;
        min-height:764px;
        img{
            width:100%;
            -webkit-mask-image: url(../img/src/transition/forest-mask.png);
            -webkit-mask-position: 0 0;
            -webkit-mask-repeat:repeat-x;
        }
    }

}