$circleDiameter: 312px;
$circleRadius: $circleDiameter / 2;
$smallProductWidth: 206px;
$smallProductHeight: 189px;
$productPerRow: 3;

.products{
    &.products-1{
        background: url('../img/src/products/bg-mountains.jpg') 50% 0 repeat fixed;
        @include background-size(cover);
    }
    &.products-2{
        background: url('../img/src/products/bg-surfer.jpg') 50% 0 repeat fixed;
        @include background-size(cover);
    }
    height:$section-height;
    padding:0px;
    margin:0px;
    position:relative;



    .content{
        margin:0 auto;
        height:100%;
        width:80%;
        position:relative;
        .product-circle{
            border-radius: 50%;
            width: $circleDiameter;
            height: $circleDiameter;
            position:absolute;
            cursor:pointer;
            background:#FFFFFF;
            &.circle-0{
                left: (0% * (100 / $productPerRow));
            }
            &.circle-1{
                left: 1% * (100 / $productPerRow);
            }
            &.circle-2{
                left: 2% * (100 / $productPerRow);
            }
        }
    }

}

