$triangleHeight: 500px;

#young-buffalo-wear-tweeds{

    width:100%;
    height:1000px;
    overflow:hidden;
    position:absolute;

    .left{
        position:absolute !important;
        top:0px;
        left:0px; // -> 50%
        z-index:$young-buffalo-triangle-z;
        img{
            position:absolute;
            right:0px;
        }
    }

    .right{
        position:absolute !important;
        top:0px;
        left:100%; // -> 50%
        z-index:$young-buffalo-triangle-z;
        img{
            position:absolute;
            left:0px;
        }
    }
}

#lookbook-container{

    .text-block{
        padding:150px 0 0 0;
        background-color:$young-buffalo-bg;
        position:relative;
        height:800px;
        z-index:$young-buffalo-triangle-z;
        h1{
            @include body-text(4.5em);
            text-align:center;
            margin:0 auto;
            font-weight:400;
            letter-spacing:3;
        }

        .triangle-container{
            position:absolute;
            bottom:-$triangleHeight;
            width:100%;
            left:0px;
            z-index:$young-buffalo-triangle-z;
            .triangle{
                .left-tri{
                    width: 0;
                    height: 0;
                    border-top: $triangleHeight solid $young-buffalo-bg;
                    border-left: 100px solid transparent;
                }
                .right-tri{
                    width: 0;
                    height: 0;
                    border-top: $triangleHeight solid $young-buffalo-bg;
                    border-right: 100px solid transparent;
                }
            }
        }
    }
}