$box-width:88px;
$box-height:80px;
$main-nav-height:405px;
$boxes:2;

.main-nav{
	position:fixed;
	top:50%;
	margin:0px;
	padding:0px;
	margin-top:-$main-nav-height/2;
	height:$box-height * $boxes;
	width:100%;
	vertical-align:top;
	font-size:0px;
	z-index:$nav-z;

	.nav-content{
		@include rgba-background($nav-content);
		display:inline-block;
		width:100%;
		height:$main-nav-height;
		margin-left:-$box-width;
		position:relative;
		.logo-text{
			margin:65px auto;
			width:634px;
		}
		.nav-buttons{
			margin:0 auto;
			width:585px;
			display:block;
			> ul {
				list-display-type:none;
				margin:0;
				padding:0;
				li {
					display:inline;
					a {
						float:left;
						&.lookbook{ @include sprite(nav_lookbook_off);}
						&.lookbook:hover{ @include sprite(nav_lookbook_on);}
						&.collection{ @include sprite(nav_collection_off);}
						&.collection:hover{ @include sprite(nav_collection_on);}
						&.about{ @include sprite(nav_about_off);}
						&.about:hover{ @include sprite(nav_about_on);}
						&.buy{ @include sprite(nav_buy_off);}
						&.buy:hover{ @include sprite(nav_buy_on);}
						&.instagram{ @include sprite(nav_instagram_off);}
						&.instagram:hover{ @include sprite(nav_instagram_on);}
					}
				}
			}

			.social-buttons{
				font-size:0px;

				.social{
					margin:25px 0 0 -27px;
					padding: 0 13px 0 18px;
					display:inline-block;
					&.facebook{ @include sprite(social-icons-fb-off);}
					&.facebook:hover{ @include sprite(social-icons-fb-on);}
					&.twitter{ @include sprite(social-icons-twitter-off);}
					&.twitter:hover{ @include sprite(social-icons-twitter-on);}
				}
			}
		}

		@media screen and (max-width: $bp-medium-nav) {
			.logo-text{
				padding:0 25px 0 25px;
				width:50%;
			}
			.nav-buttons{
				> ul{
					width: 100%;
					position: absolute;
					left: 50%;
					margin-left: -110px;
					li{
						a{
							display:block;
							float:none;
							margin-top:5px;
							&.lookbook{ margin-left: 67px; }
							&.collection{ margin-left: 32px;}
							&.about{ margin-left: 63px;}
							&.buy{ margin-left: 72px;}
							&.instagram{ margin-left: 44px;}
						}
					}
				}
				.social-buttons{
					position: absolute;
					left: 50%;
					margin-left: -18px;
					bottom: 40px;
				}
			}
		}

		.boxes{
			display:inline-block;
			vertical-align:top;
			margin:0px;
			padding:0px;
			position: absolute;
			top: 0px;
			right: -$box-width;
			.box{
				width:$box-width;
				height:$box-height;
				display:block;
			}
			#logo-icon{
				background:$nav-box;
				.icon{
					@include sprite(logo-icon);
					display:block;
					margin:15px 0 0 18px;
				}
			}
			#nav-arrow{
				.arrow{
					display:block;
					margin: 19px 0 0 23px;
				}
			}
		}
	}
}


.closed{
	@include animation(my-animation 1s);
	left:-100%;
	margin-left:$box-width;

	.boxes{
		//left:100%;

		#nav-arrow{
			background:black;
			.arrow{
				@include sprite(arrow-white-right);
			}
		}
	}
}

.open{
	@include single-transition(left, 0.7s ease-in-out);
	.nav-content{}
	.boxes{
		#nav-arrow{
			background:white;
			@include rotate(180deg);
			.arrow{
				@include sprite(arrow-black-right);
			}
		}
	}
}

@media screen and (max-width: $bp-small-nav) {

	.main-nav{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		margin:0px;
		.nav-content{
			width:100%;
			margin-left:0px;
			.logo-text{
				padding:0 25px 0 25px;
				width:50%;
			}
			.boxes{
				display:none;
			}
		}
		&.closed{
			left:0px;
			margin:0px;
			.nav-content{
				left:0px;
				.boxes{
					display:none;
				}
			}
		}
	}
}

@include keyframes(my-animation){
	0%{
		left:0px;
		margin-left:-$box-width;
	}
	50%{
		left:-100%;
		margin-left:-$box-width/2;
	}
	100%{
		left:-100%;
		margin-left:$box-width;
	}
}