// colors

$yellow: #fff200;
$babyblue: #00d0fd;
$beige: #ebe3da;
$green: #398c00;
$light-gray: #ebebeb;
$pink: #dd75af;
$forest-green: #1f411e;
$kolohe-green: #00853e;
$kolohe-blue: #4dc8e9;

$nav-box: $yellow;
$nav-content: rgba(0,208,253,0.70);
$instagram-bg: $beige;
$young-buffalo-bg: $green;
$product-detail-bg: $light-gray;
$preloader-bg: #FEF035;


// z-indices
$nav-z: 102;
$product-detail-z: 200;
$ig-detail-z: 10;
$lookbook-arrow-z: 2;
$product-backgrounds-z:100;
$young-buffalo-triangle-z:100;
$preloader-z:300;
$section-products-z:2;
$section-about-z:2;
$section-buy-z:2;
$section-instagram-z:2;
$page-down-z:9;

// breakpoints
$bp-medium-nav: 840px;
$bp-small-nav: 460px;
$bp-product-circles: 1000px;
$bp-product-detail: 825px;
$bp-ig-detail: 990px;

$section-height:1280px;


// font stacks
$garamond: "garamond-premier-pro-display","adobe-garamond-pro", Garamond, ‘Hoefler Text’, ‘Times New Roman’, Times, serif;
$futura: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;

@mixin body-text( $fontsize:1em, $color:#000000 ){
    font-family: $garamond;
    font-weight:300;
    font-size:$fontsize;
    color:$color;
}
