@import "rgbapng";
@import "animation";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/background-size";

// bootstrap
@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "bootstrap/reset";

// compass mixins
@import "compass/css3/images";
@import "compass/css3/transition";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/css3/background-clip";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

// site-specific
@import "variables";
@import "mixins";
@import "components";
@import "nav";

@import "sections/lookbook.scss";
@import "sections/products.scss";
@import "sections/product-detail.scss";
@import "sections/about.scss";
@import "sections/about-slit.scss";
@import "sections/buy.scss";
@import "sections/instagram.scss";


html, body{
	margin:0;
}

.hide-text {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

a{
	text-decoration:none;
}

li{
    list-style-type:none;
}