#buy{
    z-index:2;
    width:100%;
    height:auto;
    background: url(../img/src/buy/bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height:800px;
    .buy-content{
        margin:0 auto;
        text-align:center;
        width:100%;
        h1{
            @include body-text(3.0em, #FFFFFF);
            font-weight:400;
            letter-spacing:2;
            padding:204px 0 32px 0;
        }
        .store-container{
            position:relative;
            margin:0 auto;
            width:100%;
            .store-btn{
                margin:50px auto;
            }

            .surf-stitch{
                margin-left:-125px;
            }
            .swell{
                margin-left:25px;
            }
        }

    }
}