#instagram{

    .ig-header{
        text-align:center;
        padding:115px 0 128px 0;
        h1{
            @include body-text(3em);
            font-weight:400;
            letter-spacing:10;
        }
        hr{
            margin:18px auto;
            width:170px;
            border-width:1px;
            border-color:#000;
        }
        h2{
            font-family:$futura;
            font-size:0.7em;
            letter-spacing:2;
            padding:18px 0 0 0;
        }
    }

    background: $instagram-bg;
    padding:25px 0 25px 0;
    margin:0 auto;
    width:100%;
    .photos{
        margin:0 auto;
        text-align:center;
        .photo-container{
            margin:0 9px 18px 9px;
            background-color: #fff; // layer fill content
            @include box-shadow(0 1px 5px rgba(0,0,0,.5)); // drop shadow
            padding:17px;
            width:237px;
            height:237px;
            display:inline-block;
            cursor:pointer;
            .photo{

            }
            &:hover{
                @include box-shadow(0 2px 9px rgba(0,0,0,.5));
            }
        }

    }

    .ig-detail{
        position:fixed;
        width:100%;
        height:0%;
        background:#7DCBC7;
        z-index:$ig-detail-z;
        top:0px;
        left:0px;
        display:none;
        .photo-detail-container{
            background-color: #fff;
            @include box-shadow(0 1px 5px rgba(0,0,0,.5)); // drop shadow
            max-width:895px;
            width:80%;
            height:80%;
            margin: 4% auto;
            position:relative;
            .photo-detail-img{
                padding:30px;
                max-width:640px;
                min-width:250px;
                min-height:250px;
                height:85%;
                float:left;
                img{
                    max-height:100%;
                    max-width:100%;
                }
            }
            .info-column{
                display:none;
                position:absolute;
                right:0px;
                padding:30px;
                width:285px;
                background: rgba(255, 255, 255, 0.8);
                height:80%;
                .user-info{
                    position:relative;
                    .user-icon{
                        width:50px;
                        height:50px;
                        float:left;
                    }
                    .user-names{
                        display:inline-block;
                        padding:0 20px 0 20px;
                        .full-name{
                            @include body-text(1.5em);
                            font-weight:700;
                        }
                        .user-name{
                            @include body-text(0.75em);
                            font-weight:400;
                        }
                    }
                    .close{
                        position:absolute;
                        top:-15px;
                        right:-15px;
                        @include sprite(instagram_close);
                        display:block;
                        cursor:pointer;
                    }
                    clear:both;
                    margin-bottom:30px;
                }
                hr{

                }
                .social-icons{
                    margin:5px 0 20px 0;
                    .fb{
                        display:inline-block;
                        @include sprite(ig-facebook-share);
                        margin:0 15px 0 0;
                    }
                    .twitter{
                        display:inline-block;
                        @include sprite(ig-twitter-share);
                    }
                }
                .caption{
                    @include body-text(1em);
                    font-weight:400;
                }
            }

            @media screen and (min-width: $bp-ig-detail){
                .info-column{
                    display:block;
                }
            }

        }
    }

}