$whiteCircleDiam: 100px;
.white-circle{
    margin:50px auto;
    @include border-radius(50%);
    width: $whiteCircleDiam;
    height: $whiteCircleDiam;
    position:absolute;
    cursor:pointer;
    background:#FFFFFF;
    @include single-transition(background, 0.15s ease-out);

    &:hover{
        @include single-transition(background, 0.15s ease-out);
        background:#000;
        .label{
            color:#FFF;
        }
    }

    &.disabled{
        cursor:default;
        opacity:0.75;
        &:hover{
            background:#FFF;
            .label{
                color:#000;
            }
        }

    }

    .label{
        color:#000000;
        font-family:$futura;
        font-size:12px;
        font-weight:700;
        letter-spacing:3px;
        display: table-cell;
        #position: absolute;
        #top: 50%;
        vertical-align: middle;
        height: (0.96 * $whiteCircleDiam);
        width:$whiteCircleDiam;
        padding:2px 12px 0 12px;
        text-align:center;
    }
}

.down-arrow-white{
    @include sprite(arrow-white-down);
}

.down-arrow-black{
    @include sprite(arrow-black-down);
}

.left-arrow-white{
    @include rotate(180deg);
    @include sprite(arrow-white-right);
}

.left-arrow-black{
    @include rotate(180deg);
    @include sprite(arrow-black-right);
}

.right-arrow-white{
    @include sprite(arrow-white-right);
}

.right-arrow-black{
    @include sprite(arrow-black-right);
}

.page-down{
    display:none;
    cursor:pointer;
    z-index:$page-down-z;
    position:fixed;
    bottom:35px;
    left:20px;
    .arrow{
        display:block;
        @extend .down-arrow-black;
        @include single-transition(opacity, 0.25s ease-out);
        opacity:1;
    }
    &.white{
        .arrow{
            display:block;
            @extend .down-arrow-white;
            @include single-transition(opacity, 0.25s ease-out);
            opacity:1;
        }
    }
    .nextPageLabel{
        @include body-text(1.5em, #FFF);
        position:fixed;
        bottom:35px;
        left:-200px;
        @include single-transition(left, 0.25s ease-in-out);
        z-index:$page-down-z;
    }
}

.page-down:hover{
    background:none;
    .arrow{
        @include single-transition(opacity, 0.25s ease-out);
        opacity:0;
    }
    .nextPageLabel{
        left:20px;
        @include single-transition(left, 0.45s ease-out);
    }
}

#products-pager{
    position:fixed;
    z-index:$page-down-z;
    bottom:70px;
    right:80px;
    display:none;
}



.pager{
    .num{
        position:absolute;
        &.left{
            left: -40px;
        }
        &.right{
            left: 40px;
        }
        &.number-1{
            @include sprite(number-1-black);
            &.white{ @include sprite(number-1-white); }
        }
        &.number-2{
            @include sprite(number-2-black);
            &.white{ @include sprite(number-2-white); }
        }
        &.number-3{
            @include sprite(number-3-black);
            &.white{ @include sprite(number-3-white); }
        }
    }
    .slash{
        @include sprite(number-slash);
        position:absolute;
        top: -24px;
        left: -15px;
        &.white{
            @include sprite(number-slash-white);
        }
    }
}